@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+SC&family=Noto+Serif&family=Noto+Serif+SC&display=swap");
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-row-l {
  flex-direction: row;
  justify-content: space-between;
}

body {
  font-family: "Noto Serif", "Noto Serif SC", serif;
  color: #333;
}

h1 {
  font: 100% "Noto Sans", "Noto Sans SC", sans-serif, "Noto Sans", "Noto Sans SC", sans-serif;
  font-size: 3em;
}

a {
  color: #333333;
  text-decoration: underline;
}
a :hover {
  color: black;
  text-decoration: underline;
}

#favorites a {
  color: #ffffff;
  text-decoration: underline;
  font: 100% "Noto Sans", "Noto Sans SC", sans-serif, "Noto Sans", "Noto Sans SC", sans-serif;
}
#favorites a :hover {
  color: black;
}

.decorate-font {
  font: 100% "Noto Sans", "Noto Sans SC", sans-serif, "Noto Sans", "Noto Sans SC", sans-serif;
}

.tldr {
  font: 100% "Noto Serif", serif;
}

.language-hljs {
  padding: 10px;
}

#CS {
  background-color: #ffc824;
}

#favorites {
  background-color: #086000;
  color: #fff;
}

.section-label {
  background-color: #000000;
  height: 10px;
  max-width: 100px;
}

section {
  padding: 30px 25px 40px 20px;
}

.post {
  margin: 0 auto;
  width: 900px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 1400px) {
  .wide-only {
    display: none;
  }
}

.text-in-container {
  padding: 1rem 1rem 0 1rem;
}

.central-nav {
  max-width: 900px;
  margin: 0 auto;
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: #e0e0e0;
  height: 100vh;
}