<div class="flex flex-column">

    <h1>
        <b>
            about me
        </b>
    </h1>

    <section class="flex">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
        </style>
        <div class="flex flex-row-l flex-center" style="gap: 2.5em;">
            <div class="flex flex-column flex-center">
                <h1>
                    王集
                </h1>
                <h1 style="font-family: 'Dela Gothic One', cursive;">
                    Ji Wang
                </h1>
            </div>
            <div class="flex flex-column" style="max-width: 70%;">
                <p>
                    Bio: Ji Wang is a student at Tsinghua University, Beijing, China. He is learning software
                    engineering at this campus, expecting to earn his bachelor's degree in 2025.
                    Gradually he grasps the skill of reading, writing, designing and coding, but still has a long way to
                    go as long as he keeps doing useless things.
                </p>
                <p>
                    Skills: Software Engineering, Simple Design/Data Science/Machine Learning.
                </p>
                <p>
                    Languages: Chinese(native), English(fluent).
                </p>
                <p>
                    <a href="mailto:jiwangcdi@gmail.com">[email]</a>
                    <a href="cv.pdf">[cv]</a>
                </p>
            </div>
        </div>
    </section>

    <section id="CS" class="flex flex-column flex-center">
        <div class="flex flex-column">
            <h2>
                Computer Science
            </h2>
            <div class="section-label ms-1"></div>
            <div class="mb-3"></div>
            <div class="flex flex-row-l flex-center">
                <section class="Developer">
                    <span class="material-symbols-outlined" style="font-size: 120px;">
                        build
                    </span>
                    <h3>
                        Developer
                    </h3>
                    <div class="mb-3"></div>
                    <p>
                        I am probably a full-stack developer.
                    </p>
                </section>
                <section class="PL">
                    <span class="material-symbols-outlined" style="font-size: 120px;">
                        edit_note
                    </span>
                    <h3>
                        Programming Language
                    </h3>
                    <p>
                    <div class="mb-3"></div>
                    <p>
                        Learning the design and impl of PLs.
                    </p>
                </section>
                <section class="Sys">
                    <span class="material-symbols-outlined" style="font-size: 120px;">
                        terminal
                    </span>
                    <h3>
                        Systems
                    </h3>
                    <p>
                    <div class="mb-3"></div>
                    <p>
                        Interested in data systems and cloud applications.
                    </p>
                </section>
            </div>
            <p>
                on concrete skills, please refer to my <a href="portfolio.html">[portfolio]</a>.
            </p>
        </div>
    </section>

    <section id="favorites" class="flex flex-column flex-center">
        <div class="flex flex-column">
            <h2>
                Favorites
            </h2>
            <div class="section-label ms-1"></div>
            <div class="mb-3"></div>
            <section>
                <div class="flex flex-row-l">
                    <div class="flex flex-column flex-center">
                        <span class="material-symbols-outlined" style="font-size: 120px;">
                            book
                        </span>
                        <h3>Book</h3>
                    </div>
                    <ul>
                        <a href="https://www.gutenberg.org/files/600/600-h/600-h.htm">
                            <h2>notes from the underground</h2>
                        </a>
                        <a href="https://www.gutenberg.org/cache/epub/2149/pg2149-images.html#chap3.28">
                            <h2>short stories of edgar allan poe</h2>
                        </a>
                        <a href="https://www.peterhessler.net/">
                            <h2>rivertown (peter hessler)</h2>
                        </a>
                    </ul>
                </div>
            </section>
            <section>
                <div class="flex flex-row-l">
                    <ul>
                        <a href="https://en.wikipedia.org/wiki/Hyouka">
                            <h2>
                                hyouka
                            </h2>
                        </a>
                        <a href="https://en.wikipedia.org/wiki/Fate/stay_night">
                            <h2>
                                fate/stay night
                            </h2>
                        </a>
                        <a href="https://en.wikipedia.org/wiki/Arcane_(TV_series)">
                            <h2>
                                arcane
                            </h2>
                        </a>
                        <a href="https://en.wikipedia.org/wiki/Shirobako">
                            <h2>
                                shirobako
                            </h2>
                        </a>
                    </ul>
                    <div class="flex flex-column flex-center">
                        <span class="material-symbols-outlined" style="font-size: 120px;">
                            manga
                        </span>
                        <h3>Anime</h3>
                    </div>
                </div>
            </section>
            <section>
                <div class="flex flex-row-l">
                    <div class="flex flex-column flex-center">
                        <span class="material-symbols-outlined" style="font-size: 120px;">
                            joystick
                        </span>
                        <h3>Game</h3>
                    </div>
                    <ul>
                        <a href="https://laurahunt.itch.io/if-on-a-winters-night-four-travelers">
                            <h2>if on a winter's night, four travellers</h2>
                        </a>
                        <a href="https://en.wikipedia.org/wiki/Octopath_Traveler">
                            <h2>octopath traveller series</h2>
                        </a>
                        <a href="https://en.wikipedia.org/wiki/Octopath_Traveler">
                            <h2>paradox games(w/ city skylines)</h2>
                        </a>
                        <a href="https://www.minecraft.net/en-us">
                            <h2>
                                Minecraft
                            </h2>
                        </a>
                    </ul>
                </div>
            </section>
        </div>
    </section>

    <section id="Hobby">
        <div class="flex flex-column">
            <h2>
                Hobbies
            </h2>
            <div class="section-label ms-1"></div>
        </div>

        <div class="flex flex-row-l flex-center">
            <section>
                <span class="material-symbols-outlined" style="font-size: 120px;">
                    sprint
                </span>
                <h3>
                    Jogging
                </h3>
                <div class="mb-3"></div>
                <p>
                    About 5'30" per km.
                </p>
            </section>
            <section>
                <span class="material-symbols-outlined" style="font-size: 120px;">
                    ink_pen
                </span>
                <h3>
                    Writing
                </h3>
                <p>
                <div class="mb-3"></div>
                <p>
                    I write essay / doujinshi.
                </p>
            </section>
            <section style="max-width: 25%;">
                <span class="material-symbols-outlined" style="font-size: 120px;">
                    headphones
                </span>
                <h3>
                    Music
                </h3>
                <p>
                <div class="mb-3"></div>
                <p>
                    Satie, Dylan & others
                </p>
            </section>
            <section>
                <span class="material-symbols-outlined" style="font-size: 120px;">
                    domino_mask
                </span>
                <h3>
                    Musical
                </h3>
                <p>
                <div class="mb-3"></div>
                <p>
                    my fav: Elizabeth
                </p>
            </section>
    </section>

</div>
