<div class="central-nav">

    <h1>
        category: <%- page.category %>
    </h1>

    <ul>
        <% page.posts.each(function(post){ %>
            <li>
                <a href="<%- url_for(post.path) %>">
                    <%- post.title %>
                </a>
            </li>
            <% }); %>
    </ul>

    <a href="/menu.html">[posts]</a>

</div>
