<div class="central-nav">

    <%- include('header.ejs') %>

    <h1>
        essay
    </h1>

    <ul>
        <%
        // Filter posts from essay directory
        for (let post of site.posts.data) {
            if (post.path.includes('essay/')) {
        %>
            <li>
                <a href="<%- url_for(post.path) %>"><%- post.title %></a>
            </li>
        <%
            }
        }
        %>
    </ul>

    <a href="/index.html">[index]</a>

</div>