<hr>
<footer class="site-footer">
    <div class="top-nav fit-content">
        © 2024 Ji Wang |
        <a href="https://creativecommons.org/licenses/by-nc/4.0/" style="padding-left: 5px;">
            Creative Commons Attribution License
        </a>
    </div>
    <div class="top-nav fit-content">
        <a href="https://github.com/Wang-Ji20" class="footer-links"><img src="/asset/github.svg" alt="github"
                width="20" height="20"></a>
        <a href="mailto:jiwangcdi@gmail.com" class="footer-links"><img src="/asset/email.svg" alt="email" width="20"
                height="20"></a>
        <a href="https://www.linkedin.com/in/%E9%9B%86-%E7%8E%8B-67b0b92a7/" class="footer-links"><img
                src="/asset/linkedin.svg" alt="linkedin" width="20" height="20"></a>
    </div>
</footer>
