<div class="top-nav">
    <div class="top-nav">
        <h1 class="text-in-container cdi-style">
            CDI
        </h1>
    </div>
    <div class="top-nav top-links">
        <a href="menu.html" class="link-padding">Posts</a>
        <a href="about.html" class="link-padding">About</a>
        <a href="index.html" class="link-padding">Search</a>
    </div>
</div>
<hr>
