<div class="top-nav">
    <div class="top-nav">
        <h1 class="text-in-container cdi-style">
            <a href="/" class="link-margin">CDI</a>
        </h1>
    </div>
    <div class="top-nav top-links">
        <a href="research.html" class="link-margin">Research</a>
        <a href="story.html" class="link-margin">Story</a>
        <a href="essay.html" class="link-margin">Essay</a>
        <a href="gallery.html" class="link-margin">Gallery</a>
        <a href="about.html" class="link-margin">About</a>
        <a href="archive.html" class="link-margin">Archive</a>
        <a href="search.html" class="link-margin">Search</a>
    </div>
</div>
<hr>
