<div class="central-nav occupy-screen">

    <%- include('header.ejs') %>

    <p>柔らかな皮膚しかない理由は</p>

    <p>人が人の傷みを聴くためだ</p>

    <p>急げ悲しみ 翼に変われ</p>

    <p>急げ傷跡 羅針盤になれまだ</p>

    <!-- <p class="text-in-container">
        sitemap
        <a href="about.html">[about]</a>
        <a href="menu.html">[my posts]</a>
        <a href="portfolio.html">[portfolio]</a>
        <a href="publication.html">[publication]</a>
    </p>
    <p class="text-in-container">
        links
        <a href="https://github.com/Wang-Ji20">[github]</a>
        <a href="https://twitter.com/wngj04034015571">[twitter]</a>
        <a href="https://www.reddit.com/user/horsank">[reddit]</a>
        <a href="mailto:jiwangcdi@gmail.com">[email]</a>
        <a href="https://www.douban.com/people/183897010">[douban 豆瓣]</a>
        <a href="https://cohost.org/cemdi">[cohost]</a>
    </p> -->


</div>
