<h1>cemetery of innocents</h1>
<div class="tldr">murmurs from the underground</div>

<hr>

<p>
    sitemap
    <a href="about.html">[about]</a>
    <a href="menu.html">[my posts]</a>
    <a href="portfolio.html">[portfolio]</a>
    <a href="publication.html">[publication]</a>
</p>
<p>
    links
    <a href="https://github.com/Wang-Ji20">[github]</a>
    <a href="https://twitter.com/wngj04034015571">[twitter]</a>
    <a href="https://www.reddit.com/user/horsank">[reddit]</a>
    <a href="mailto:jiwangcdi@gmail.com">[email]</a>
    <a href="https://www.douban.com/people/183897010">[douban 豆瓣]</a>
</p>

<hr>

theme cemetery made by myself. powered by hexo.
