<div class="central-nav occupy-screen">

    <%- include('header.ejs') %>

    <div class="main-content">
        <!-- Section 1: Introduction -->
        <section class="hero-section">
            <img src="/images/cdilogov2.svg" alt="cdi logo">
        </section>

        <!-- Section 2: Content Placeholder -->
        <section class="content-section">
            <div class="section-placeholder">
                <h2>Hello, there is cdi's blog!</h2>
                <p>
                    cdi means Cimetière Des Innocents, which comes from
                    this fabulous
                    <a href="https://en.wikipedia.org/wiki/Western_Attitudes_Toward_Death_from_the_Middle_Ages_to_the_Present">book</a>.
                </p>
                <p>
                    The blog's theme is inspired by <a href="https://en.wikipedia.org/wiki/Bauhaus">Bauhaus</a> and partly <a href="https://en.wikipedia.org/wiki/Memphis_Group">Memphis</a>.
                </p>
                <p>
                    The blogger likes to write in multiple languages and does not like to provide translations, so please pardon me.
                </p>
            </div>
        </section>

        <!-- Section 3: Links Placeholder -->
        <section class="links-section">
            <div class="section-placeholder">
                <h2>您好，这里是 cdi 的博客！</h2>
                <p>
                    cdi 的意思是无辜者公墓，来自于
                    <a href="https://en.wikipedia.org/wiki/Western_Attitudes_Toward_Death_from_the_Middle_Ages_to_the_Present">这本书</a>.
                </p>
                <p>
                    博客的主题受到<a href="https://en.wikipedia.org/wiki/Bauhaus">包豪斯</a>和部分的<a href="https://en.wikipedia.org/wiki/Memphis_Group">孟菲斯</a>风格启发.
                </p>
                <p>
                    博主可能用多种语言写博客，而且一般没有其他语言的翻译，请见谅。
                </p>
            </div>
        </section>
    </div>

</div>
