<div class="central-nav">

    <h1>
        memos
    </h1>

    <ul>
        <% for (let post of site.posts.data) { %>
            <li>
                <a href="<%- url_for(post.path) %>"><%- post.title %></a>
            </li>

            <% } %>
    </ul>

    <a href="/index.html">[index]</a>

</div>
